body {
    background-color: #0c002c;
}

.buttonstyle {
    color: blue;
}

.box {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rebccapurple;
    transform: rotate(0.8turn);
}

.neon {
    position: relative;
    top: 260px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px rgb(0, 102, 255), 0 0 80px rgb(0, 195, 255), 0 0 90px #0ff;
}
.button_style {
    position: relative;
    top: -80px;
    left: 1230px;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    background: none;
    height: 50px;
    width: 200px;
    outline-style: solid;
    border: none;
    border-radius: 10px;
    transition-duration: 0.2s;
}
.button_style:hover {
    position: relative;
    top: -80px;
    left: 1230px;
    color: rgb(0, 0, 0);
    font-family: "Lucida Console", "Courier New", monospace;
    background: white;
    height: 50px;
    width: 200px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255, 0.766), 0 0 20px rgba(255, 255, 255, 0.558), 0 0 30px rgba(0, 102, 255, 0.574), 0 0 45px rgba(0, 195, 255, 0.503), 0 0 50px rgba(0, 255, 255, 0.393);
    cursor: pointer;
}
.menu {
    height: 30px;
    width: 30px;
    position: relative;
    top: 37px;
    left: 1020px;
    border-radius: 50%;
    transition-duration: 0.2s;

}
.menu:hover {
    height: 30px;
    width: 30px;
    position: relative;
    top: 37px;
    left: 1020px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.521), 0 0 10px rgba(255, 255, 255, 0.373), 0 0 20px rgba(255, 255, 255, 0.46), 0 0 30px rgba(0, 102, 255, 0.471);
}
.button_login {
    position: relative;
    top: -80px;
    left: 900px;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    height: 50px;
    width: 100px;
    background: none;
    border-radius: 10px;
    border: none;
    outline: none;
    transition-duration: 0.2s;
}
.button_login:hover {
    position: relative;
    top: -80px;
    left: 900px;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    height: 50px;
    width: 100px;
    background-color: white;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}